PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/chaichakhna
JWT_SECRET=your_jwt_secret_key_here



# POST http://localhost:5000/api/v1/auth/admin/login
# {
#     "email": "admin@chaichakhna.com",
#     "password": "Admin@123"
# }


# GET /api/v1/categories
# GET /api/v1/categories/:id

# POST /api/v1/categories

# {
#     "categoryName": "Burger",
#     "description": "Burger Items",
#     "imageUrl": null,
#     "displayOrder": 9
# }

# PUT /api/v1/categories/:id

# {
#     "categoryName": "Tea & Coffee",
#     "description": "Hot Beverages",
#     "imageUrl": null,
#     "displayOrder": 1,
#     "isActive": true
# }


# DELETE /api/v1/categories/:id

# GET /api/v1/health
//http://localhost:5000/api-docs/